body {
    background: #f4f4f4;
    font-family: Arial;
}

.login-container {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px #aaa;
}

.login-container h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #2ecc71;
}
